@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #222831;
}

span {
  display: block;
  width: 100%;
  height: 20px;
  margin: 5px auto;
  text-transform: capitalize;
  background-color: #393e46af;
  font-size: large;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 5px 10px;
  color: #eee;
}

span:nth-of-type(1) {
  margin-top: 10px;
  position: sticky;
  top: 10px;
  height: 30px;
  background-color: #00adb5;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

section {
  position: relative;
  max-width: 500px;
  margin: auto;
}

div {
  opacity: 0;
  display: inline-block;
  width: 90%;
}

button {
  position: fixed;
  display: inlne-block;
  height: 50px;
  width: 50px;
  border-style: none;
  border-radius: 50%;
  background-color: #eee;
  box-shadow: 2px 2px 5px 1px #000;
  bottom: 5%;
}

img {
  height: 80%;
  width: 80%;
  vertical-align: middle;
}

span:hover {
  border-left: 5px solid #00adb5;
  box-sizing: content-box;
  font-weight: 400;
  transition: 0.3s;
  color: #00adb5;
}

span:nth-of-type(1):hover {
  border: none;
  color: #eee;
  font-weight: 700;
}
